h1,h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bd5497;
    letter-spacing: 10px;
}

h1{
    text-align: center;
}

img{
    height: 160px;
    margin: 15px;
}

.logo{
    display: block;
    margin: 0 auto;
}

.pop-century{
    float: right;
}

.Caribbean{
    float: left;
}

.kindom{
    float: right;
}

.mickey{
    height: 100%;
    width: 100%;
    margin: 0;
}

p{
    color: #77a5d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}